<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LayIM 移动版</title>

    <link rel="stylesheet" href="http://resource.an0nymou5.com/layim/css/layui.mobile.css">
    <link id="layuicss-skinlayim-mobilecss" rel="stylesheet" href="http://resource.an0nymou5.com/layim/css/modules/layim/mobile/layim.css" media="all">
</head>
<body>
<script src="http://resource.an0nymou5.com/common/js/jquery-3.5.1.min.js"></script>
<script src="/static/layim/layui.mobile.js"></script>
<script src="/static/common/websocket.js"></script>
<script src="/static/common/common.js"></script>
<script>
    layui.config({
        version: '20200603'
    }).use('mobile', function () {
        let mobile = layui.mobile,
            layim = mobile.layim,
            layer = mobile.layer;

        //提示层
        layer.msg = function (content) {
            return layer.open({
                content: content,
                skin: 'msg',
                time: 2 //2秒后自动关闭
            });
        };

        //演示自动回复
        let autoReplay = [
            '您好，我现在有事不在，一会再和您联系。',
            '你没发错吧？face[微笑] ',
            '洗澡中，请勿打扰，偷窥请购票，个体四十，团体八折，订票电话：一般人我不告诉他！face[哈哈] ',
            '你好，我是主人的美女秘书，有什么事就跟我说吧，等他回来我会转告他的。face[心] face[心] face[心] ',
            'face[威武] face[威武] face[威武] face[威武] ',
            '<（@￣︶￣@）>',
            '你要和我说话？你真的要和我说话？你确定自己想说吗？你一定非说不可吗？那你说吧，这是自动回复。',
            'face[黑线]  你慢慢说，别急……',
            '(*^__^*) face[嘻嘻] ，是贤心吗？'
        ];

        ws.init({
            url: "ws.an0nymou5.com/ws/im",
            token: window.encodeURIComponent(common.getCookie('token'))
        }).connect();
        ws.onmessage = function (message) {
            let response = JSON.parse(message.data),
                cmd = response.cmd,
                data = response.data,
                contentData = data.data,
                ext = response.ext;

            if (cmd === 'member.editSignature') {
                if (data.status === 1) {
                    msg = '修改签名成功';
                    icon = 1;
                } else {
                    msg = data.message;
                    icon = 2;
                }
                layer.msg(msg, {
                    icon: icon,
                    time: 2000
                });
            } else if (cmd === 'friend.addFriend') {
                if (data.status === 1) {
                    msg = '好友申请已发送，请等待对方确认';
                    icon = 1;
                } else {
                    msg = data.message;
                    icon = 2;
                }
                layer.msg(msg, {
                    icon: icon,
                    time: 2000
                });
            } else if (cmd === 'receipt.friendApply') {
                layim.msgbox(data.count); //模拟消息盒子有新消息，实际使用时，一般是动态获得
            } else if (cmd === 'receipt.friendAccept') {
                layim.addList(contentData);
                layer.open({
                    type: 0,
                    content: contentData.username + '已同意你的好友请求'
                });
            } else if (cmd === 'receipt.friendFettle') {
                layim.setFriendStatus(contentData.id, contentData.status);
                layim.setChatStatus('<span style="color:#FF5722;">' + contentData.status + '</span>');
            } else if (cmd === 'receipt.chatReceive') {
                layim.getMessage(contentData);
            } else if (cmd === 'chat.typingMessage') {
                let typingMessageStatus = $("#typingMessage").html();
                if (typingMessageStatus === undefined) {
                    $('#layui-m-layer1 .layim-title p').append("<span id='typingMessage'>正在输入中...</span>");
                    setTimeout(function () {
                        $("#typingMessage").remove();
                    }, 1000)
                }
            }
        };
        ws.onopen = function () {
            let data = {'cmd': 'common.connect'};
            this.send(JSON.stringify(data));
        };
        ws.onclose = function () {
            alert('你已经长时间未进行任何操作，请重新登陆');
            layui.data('layim', null)
            document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
            window.location.href = "{:url('index/login/index')}";
        }

        $.ajax({
            url: "{:url('api/chatApi/getMainData')}",
            dataType: "json",
            success: function (data) {
                if (data.code === 100000) {
                    layim.config({
                        //上传图片接口
                        uploadImage: {
                            url: '/upload/image', //（返回的数据格式见下文）
                            type: '' //默认post
                        },

                        //上传文件接口
                        uploadFile: {
                            url: '/upload/file', //（返回的数据格式见下文）
                            type: '' //默认post
                        },
                        init: data.data,

                        //扩展更多列表
                        moreList: [
                            // {
                            //     alias: 'find',
                            //     title: '发现',
                            //     iconUnicode: '&#xe628;', //图标字体的unicode，可不填
                            //     iconClass: '' //图标字体的class类名
                            // },
                            // {
                            //     alias: 'share',
                            //     title: '分享与邀请',
                            //     iconUnicode: '&#xe641;', //图标字体的unicode，可不填
                            //     iconClass: '' //图标字体的class类名
                            // }
                        ],

                        //,isNewFriend: false //是否开启“新的朋友”
                        isgroup: true //是否开启“群聊”
                        //,chatTitleColor: '#c00' //顶部Bar颜色
                        //,title: 'LayIM' //应用名，默认：我的IM
                    });
                    return false;
                } else {
                    layer.msg(data.message);
                    return false;
                }
            },
            error: function (data) {
                layer.msg('错误', '返回格式错误');
                return false;
            }
        });

        layim.on('ready', function (res) {
            $.ajax({
                url: "{:url('api/chatApi/getAllNoReadChatHistory')}",
                contentType: "application/json;charset=utf-8",
                data: {'time': parseInt(Math.random() * 1000)},
                dataType: "json",
                success: function (data) {
                    console.log(data.data)
                    if (data.code === 100000) {
                        let my_layim_mobile = layui.data('layim-mobile')[{$uid}];
                        if (my_layim_mobile === undefined) {
                            $.each(data.data, function (key, value) {
                                layim.getMessage(value);
                            })
                        } else {
                            $.each(data.data, function (key, value) {
                                let historyData = layui.data('layim-mobile')[{$uid}]['chatlog']['friend' + value.fromid];
                                if (historyData === undefined) {
                                    layim.getMessage(value);
                                } else {
                                    let insertSwitch = true;
                                    $.each(historyData, function (k, v) {
                                        if (v.cid === value.cid) {
                                            insertSwitch = false;
                                            return false;
                                        }
                                    })
                                    if (insertSwitch) {
                                        layim.getMessage(value);
                                    }
                                }
                            })
                        }
                        return false;
                    } else {
                        layer.msg(data.message);
                        return false;
                    }
                    // avatar: "/static/png/chat_ex_y.png"
                    // cid: 167
                    // content: "1"
                    // fromid: 34
                    // id: 34
                    // mine: false
                    // timestamp: 1598252716000
                    // type: "friend"
                    // username: "1"
                },
                error: function (data) {
                    layer.msg('错误', '返回格式错误');
                    return false;
                }
            })
            layui.data('layim-mobile', {key: 'mine', value: res.mine})
        });

        //监听点击“新的朋友”
        layim.on('newFriend', function () {
            layim.panel({
                title: '新的朋友', //标题
                tpl: '<div style="padding: 10px;">自定义模版，{{d.data.test}}</div>', //模版
                data: { //数据
                    test: '么么哒'
                }
            });
        });

        //查看聊天信息
        layim.on('detail', function (data) {
            //console.log(data); //获取当前会话对象
            layim.panel({
                title: data.name + ' 聊天信息', //标题
                tpl: '<div style="padding: 10px;">自定义模版，<a href="http://www.layui.com/doc/modules/layim_mobile.html#ondetail" target="_blank">参考文档</a></div>', //模版
                data: { //数据
                    test: '么么哒'
                }
            });
        });

        //监听点击更多列表
        layim.on('moreList', function (obj) {
            switch (obj.alias) {
                case 'find':
                    layer.msg('自定义发现动作');

                    //模拟标记“发现新动态”为已读
                    layim.showNew('More', false);
                    layim.showNew('find', false);
                    break;
                case 'share':
                    layim.panel({
                        title: '邀请好友', //标题
                        tpl: '<div style="padding: 10px;">自定义模版，{{d.data.test}}</div>', //模版
                        data: { //数据
                            test: '么么哒'
                        }
                    });
                    break;
            }
        });

        //监听发送消息
        layim.on('sendMessage', function (data) {
            let sendData = {
                'cmd': 'chat.sendMessage',
                'data': {
                    'friendId': data.to.id,
                    'content': data.mine.content
                }
            };
            ws.send(JSON.stringify(sendData));
            // let To = data.to;
            // //console.log(data);
            //
            // //演示自动回复
            // setTimeout(function () {
            //     let obj = {};
            //     if (To.type === 'group') {
            //         obj = {
            //             username: '模拟群员' + (Math.random() * 100 | 0),
            //             avatar: layui.cache.dir + 'images/face/' + (Math.random() * 72 | 0) + '.gif',
            //             id: To.id,
            //             type: To.type,
            //             content: autoReplay[Math.random() * 9 | 0]
            //         }
            //     } else {
            //         obj = {
            //             username: To.name,
            //             avatar: To.avatar,
            //             id: To.id,
            //             type: To.type,
            //             content: autoReplay[Math.random() * 9 | 0]
            //         }
            //     }
            //     layim.getMessage(obj);
            // }, 1000);
        });

        //模拟收到一条好友消息
        setTimeout(function () {
            // layim.getMessage({
            //     username: "贤心",
            //     avatar: "//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg",
            //     id: "100001",
            //     type: "friend",
            //     cid: Math.random() * 100000 | 0, //模拟消息id，会赋值在li的data-cid上，以便完成一些消息的操作（如撤回），可不填
            //     content: "嗨，欢迎体验LayIM。演示标记：" + new Date().getTime()
            // });
        }, 2000);

        //监听查看更多记录
        layim.on('chatlog', function (data, ul) {
            console.log(data);
            layim.panel({
                title: '与 ' + data.username + ' 的聊天记录', //标题
                tpl: '<div style="padding: 10px;">这里是模版，{{d.data.test}}</div>', //模版
                data: { //数据
                    test: 'Hello'
                }
            });
        });

        layim.on('chat', function (data, a, b, c) {
            console.log(data)
            console.log(a)
            console.log(b)
            console.log(c)
        });

        //模拟"更多"有新动态
        // layim.showNew('More', true);
        // layim.showNew('find', true);
    });

    function typing(value) {
        let timestamp = (new Date()).valueOf();
        let sendSwitch = timestamp % 4 === 0;
        if (sendSwitch) {
            let sendData = {
                'cmd': 'chat.typingMessage',
                'data': {
                    'friendId': layui.data('layim-mobile')['mine'].id,
                    'content': value
                }
            };
            ws.send(JSON.stringify(sendData));
        }
    }

    function removeTypingMessage() {
        $("#typingMessage").remove();
    }
</script>
</body>
</html>
