<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ShiroChan - Coming Soon-ish~</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="http://resource.an0nymou5.com/chat/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/core.css"/>
    <link rel="stylesheet" href="http://resource.an0nymou5.com/chat/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var sliderTime = 10000;
        var bgImages = [
            'http://resource.an0nymou5.com/chat/image/chat_login_bg_1.jpg',
            'http://resource.an0nymou5.com/chat/image/chat_login_bg_2.jpg',
            'http://resource.an0nymou5.com/chat/image/chat_login_bg_3.jpg',
        ];
    </script>
</head>
<body>
<div class="bg-mask"></div>
<div class="wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="content text-center"><img src="/static/png/logo.png" alt="Logo"/>
                    <h2>你敢登录试试</h2>
                </div>
                <form role="form" class="subscribe-form" method="post" action="123.php">
                    <div class="input-group input-group-lg"><span class="input-group-addon"><i
                            class="fa fa-key fa-fw"></i></span>
                        <input type="text" class="form-control semail" name="account"
                               placeholder="Enter your account">
                        <input type="password" class="form-control semail" name="password"
                               placeholder="Enter your password">
                        <span class="input-group-btn">
						<input type="button" class="btn btn-default sbtn" value="Log In">
						</span>
                    </div>
                </form>
                <div class="descs">
                    <div class="row desc desc1">
                        <div class="col-md-2 col-xs-12 icon"><i class="fa fa-desktop fa-4x">1</i></div>
                        <div class="col-md-10 col-xs-12 text">
                            <h3>OOOOOOOONE</h3>
                            <p> 哈哈</p>
                        </div>
                    </div>
                    <div class="row desc desc2">
                        <div class="col-md-2 col-xs-12 icon"><i class="fa fa-magic fa-4x">2</i></div>
                        <div class="col-md-10 col-xs-12 text">
                            <h3>TTTTTTTTWO</h3>
                            <p> 嘎嘎</p>
                        </div>
                    </div>
                    <div class="row desc desc3">
                        <div class="col-md-2 col-xs-12 icon"><i class="fa fa-group fa-4x">3</i></div>
                        <div class="col-md-10 col-xs-12 text">
                            <h3>TTTTTTHREE</h3>
                            <p> 嘻嘻</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line">
        <div class="boxes">
            <div class="box b1" style="left: 25%;" data-per="25"><i class="fa fa-desktop fa-2x">1</i></div>
            <div class="box b2" style="left: 50%;" data-per="50"><i class="fa fa-magic fa-2x">2</i></div>
            <div class="box b3" style="left: 75%;" data-per="75"><i class="fa fa-group fa-2x">3</i></div>
        </div>
        <div class="pb">
            <div class="pb-item"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://resource.an0nymou5.com/common/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="http://resource.an0nymou5.com/common/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://resource.an0nymou5.com/common/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="http://resource.an0nymou5.com/common/js/cookie.min.js"></script>
<script type="text/javascript" src="/static/js/core.js"></script>
</body>
</html>